{% extends 'base.html' %}
{% block  content %}
    

    <h2>{{ current_user.username }}'s Collection</h2>


<li>
    {{ current_user.email }}
</li>
<li>
    {{ current_user.token }}
</li>

<p>About Me: </p>
<table>
    {% if current_user.about_me %}
        <p>
            {{ current_user.about_me }}
        </p>
    {% endif %}
</table>

{% if current_user.is_authenticated %}
    <p><a href="{{ url_for('auth.edit_profile') }}" style="font-size:85%">Edit Your About Me!</a> </p>
{% endif %}

<div class="container row">
    <!--Checks to see if there are flashed messages, if there are they are set = messages-->
    {% with messages = get_flashed_messages(with_categories = true) %}
        {% if messages  %}
            {% for cat,msg in messages %}
                {% if cat == 'user-edited' %}
                    <div class="alert alert-success col3">
                        {{ msg }}
                        <button type='button' class='close' data-dismiss = 'alert'>&times;</button>
                    </div>        
                    {% elif cat == 'auth-success' %}             
                {% endif %}                
            {% endfor %}            
        {% endif %}
    {% endwith %}
</div>






{% if user_collection %}
    {% for character in user_collection %}
    <p>{{ character }}</p>
    {% endfor %}
{% else %}
    <p>You haven't added any characters yet, feel free to add some via the API requests!</p>
{% endif %}


{% endblock content %}