<form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <fieldset id="firstname-field">
            {{ form.first_name.label }}
            {{ form.first_name(class = 'form-control', placeholder = 'First Name - Optional')}}
        </fieldset>
        <fieldset id="lastname-field">
            {{ form.last_name.label}}
            {{ form.last_name(class = 'form-control', placeholder = 'Last Name - Optional') }}
        </fieldset>




        
        <fieldset id="email-field">
            {{ form.email.label }}
            {{ form.email(class = 'form-control', placeholder = 'Place Email Here *REQUIRED*') }}
        </fieldset>
        <fieldset id="username-field">
            {{ form.username.label }}
            {{ form.username(class = 'form-control', placeholder = 'Username *REQUIRED*') }}

        </fieldset>
        <fieldset id="pass-field">
            {{ form.password.label }}
            {{ form.password(class = 'form-control', placeholder = 'Password Here *REQUIRED*') }}
            {{ form.password2.label }}
            {{ form.password2(class = 'form-control', placeholder = 'Confirm Password *REQUIRED*')}}
        </fieldset>
        <!--Put Submit button in a row, to make it easier to center/add padding between it and the password input field-->
        <div class="row mx-auto pt-4">
        {{ form.submit_button(class = 'btn btn-primary mx-auto')}}
        </div>

    </div>



</form>