{% extends 'base.html' %}

{% block content %}
<div class="container">
    <!--Checks to see if there are flashed messages, if there are they are set = messages-->
    {% with messages = get_flashed_messages(with_categories = true) %}
        {% if messages  %}
            {% for cat,msg in messages %}
                {% if cat == 'user-created' or cat == 'user-created' %}
                    <div class="alert alert-success">
                        {{ msg }}
                        <button type='button' class='close' data-dismiss = 'alert'>&times;</button>
                    </div>        
                    {% elif cat == 'auth-success' %}
                    <div class="alert alert-success">
                        {{ msg }}
                        <button type='button' class='close' data-dismiss = 'alert'>&times;</button>
                    </div>              
                {% endif %}                
            {% endfor %}            
        {% endif %}
    {% endwith %}
</div>

<header class="row pt-4">
    <div class="col-0 col-md-2"></div>
    <div class="col-12 col-md-4 my-auto text-center">
        <h2>Create Your Dream Collection!</h2>
        <p>Fill your collection with your favorite Marvel characters, accessing them at any point in time via the GOAT Marvel Collection API</p>
    </div>
    <!--Sweet header image-->
    <div class="col-12 col-md-4 my-auto" ><img src="../../static/images/marvel-logo.png" alt="Marvel Comics inc logo" class="header-image mx-auto d-block img-fluid"></div>
    <div class="col-0 col-md-2"></div>
</header>

<!--Basic Middle Section-->
<section class="row text-center pt-4">
    <div class="col-0 col-md-2"></div>
    <div class="col-0 col-md-4">
        <img src="../../static/images/spiderman.png" alt="Spiderman Swingin image" class="header-image mx-auto d-block img-fluid">
    </div>
    <div class="col-12 col-md-4">
        <h2>Update Your Collection At Anytime</h2>
        <p>With the power of our API, you can add, update or remove your characters from your personal collection at anytime! Your collection will be safe, as secure database-side authentication is required for any changes to be made.</p>
    </div>
    
    <div class="col-0 col-md-2"></div>
</section>

<section class="row pb-5 text-center pt-4">
    <div class="col-0 col-md-2"></div>
    <div class="col-12 col-md-4">
        <h2>Secure Profile Acess</h2>
        <p>You can feel safe with your porfile protected by password hashing, to keep out even the most diabolical of villains. </p>
    </div>
    <div class="col-0 col-md-4">
        <img src="../../static/images/greengoblin.png" alt="Spiderman Swingin image" class="header-image mx-auto d-block img-fluid">
    </div>
    
    
    <div class="col-0 col-md-2"></div>
</section>

{% endblock content %}